@import "tailwindcss";

/* --- Fonte Mugesta --- */
@font-face {
  font-family: "Mugesta";
  src: url("./assets/fonts/mugesta.otf") format("opentype");
}
button {
  cursor: pointer;
}
@theme {
  --font-mugesta: "Mugesta";
  --font-sf: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
/* --- SF Pro Display Regular --- */
@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* --- SF Pro Display Medium --- */
@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* --- SF Pro Display Bold --- */
@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
